/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    font-family: Poppins;
}
/* Estilo del contenedor principal */
.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo del contenido principal */
.main-wrapper {
    flex: 1;
    background-color: #f3f3f3; /* Color de fondo gris claro */
    padding-top: 56px; /* Altura del navbar */
}
.footer {
    background-color: #f3f3f3; /* Color de fondo gris claro */
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #A02CFA;
    --bs-btn-border-color: #A02CFA;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8825d5;
    --bs-btn-hover-border-color: #8023c8;
    --bs-btn-focus-shadow-rgb: 174, 76, 251;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8023c8;
    --bs-btn-active-border-color: #7821bc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #A02CFA;
    --bs-btn-disabled-border-color: #A02CFA;
}
.authincation-content {
    background: #fff;
    box-shadow: 0 0 35px 20px rgba(154, 161, 171, 0.15);
    border-radius: 8px;
    margin: 20px 0;
}
.text-secondary {
    --bs-text-opacity: 1;
    color: #A02CFA !important;
}
.light.btn-secondary {
    background-color: #f1dffe;
    border-color: #f1dffe;
    color: #A02CFA;
}
.form-group {
    margin-bottom: 2rem;
}
input::placeholder {
    font: .9rem/3 sans-serif;
}
.eye {
    position: absolute;
    right: 17px;
    bottom: 16px;
}
.show-pass {
    cursor: pointer;
}
.alert-danger {
    background: #fff3f7;
    border-color: #fff3f7;
    color: #F94687;
}
.alert {
    border-radius: .625rem;
    padding: 1rem 3rem 1rem 1.5rem;
}
.alert-danger {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}
.form-check-input:checked {
    background-color: #A02CFA;
    border-color: #A02CFA;
}
.form-check-input:focus {
    outline: none; /* Eliminar el contorno predeterminado */
    box-shadow: 0 0 0 0.3rem #f1dffe; /* Ajusta el color y la transparencia del halo */
}
.card {
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0px solid transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 12px 23px 0px rgba(160, 44, 250, 0.04);
    height: calc(100% - 30px);
    box-shadow: 0 0 35px 20px rgba(154, 161, 171, 0.15);
}
.card-title {
    padding-left: 12px;
}
.btn-card {
    background-color: #fff; /* Color de fondo inicial */
    color: #A02CFA; /* Color del texto inicial */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-card:hover {
    background-color: #A02CFA; /* Color de fondo al hacer hover */
    color: #fff; /* Color del texto al hacer hover */
  }
/* Estilos del botón predefinido */
.btn-request {
    background-color: #f1dffe; /* Color de fondo púrpura claro */
    color: #A02CFA; /* Color del texto púrpura oscuro */
    border: none; /* Sin borde */
    transition: background-color 0.3s, color 0.3s;
}

.btn-request .btn-icon-right {
    color: #A02CFA; /* Color del icono púrpura oscuro */
}

.btn-request:hover {
    background-color: #A02CFA; /* Color de fondo púrpura oscuro */
    color: #fff; /* Color del texto blanco */
}

.btn-request:hover .btn-icon-right {
    color: #fff; /* Color del icono blanco */
}
.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: #fff !important;
}
.btn-dark {
    background-color: #ced4da;
    color: black;
    border: none; /* Sin borde */
    transition: background-color 0.3s, color 0.3s;
}
.btn-dark:hover {
    background-color: #000000; /* Color de fondo púrpura claro */
    color: #f1f1f1; /* Color del texto púrpura oscuro */
}
.btn-dark:hover .btn-icon-right {
    color: #f1f1f1; /* Color del icono púrpura oscuro */
}
.btn-dark .btn-icon-right {
    color: #000000; /* Color del icono blanco */
}
/* Estilos para los botones de acordeón */
.accordion-primary .accordion-button.collapsed {
    background: #f1dffe; /* Color púrpura claro */
    border-color: #f1dffe;
    color: #A02CFA; /* Color púrpura oscuro */
    font-weight: bold; /* Texto en negrita */
    box-shadow: none;
    position: relative;
    padding-right: 2rem; /* Ajusta según sea necesario */
}

.accordion-primary .accordion-button {
    background: #A02CFA; /* Color púrpura oscuro */
    border-color: #A02CFA;
    color: #fff; /* Color blanco */
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 2rem; /* Ajusta según sea necesario */
}

/* Ocultar las flechas predeterminadas */
.accordion-button::after {
    display: none !important; /* Asegura que las flechas no se muestren */
}

.custom-accordion-button::before {
    content: '+'; /* Signo + cuando está colapsado */
    font-size: 1.25rem;
    position: absolute;
    right: 1rem; /* Ajusta según sea necesario */
    color: #A02CFA; /* Color púrpura oscuro */
}

.accordion-primary .accordion-button:not(.collapsed)::before {
    content: '-'; /* Cambia el contenido a '-' cuando está expandido */
    font-size: 1.25rem;
    position: absolute;
    right: 1rem; /* Ajusta según sea necesario */
    color: #fff; /* Color blanco */
}

.accordion-header {
    margin-bottom: 0; /* Elimina el margen inferior */
}

.accordion-body {
    padding: 1rem; /* Ajusta el padding según sea necesario */
}
/* Tamaño para la vista del cliente */
.user-profile-image {
    width: 130px;
    height: 130px;
  }
.img-thumbnail {
    aspect-ratio: 1;
}
/*UPDATE*/
.form-control[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control[type="file"] {
    line-height: 44px;
    padding-left: 12px;
}
.form-control[type="file"] {
    overflow: hidden;
}
input.form-control {
    position: relative;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.alert-secondary {
    background: #f1dffe;
    border-color: #f1dffe;
    color: #A02CFA;
}
.eye-update {
    position: absolute;
    right: 2.2rem;
    top: 8.7rem;
}
.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}
.card-header {
    border-color: #E6E6E6;
    position: relative;
    background: transparent;
    padding: 1.5rem 1.875rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}