/* landing.css */

.card-text {
    color: #000000;
    font-size: smaller;
}

.card-title-landing {
    color: #000000;
    font-size: medium;
}

.card-label {
    color: #000000;
    font-size: large;
}

.landing-page {
    color: #A02CFA;
    background: linear-gradient(180deg, #ffffff,#f2e2ff,#A02CFA);
}

.landing-page .bg-light {
    background-color: #f1dffe !important;
}

.landing-page .text-primary {
    color: #A02CFA !important;
    border-color: #000000;
}

.landing-page .btn-primary {
    background-color: #f1dffe !important;
    border-color: #A02CFA !important;
    color: #A02CFA !important;
}

.landing-page .btn-primary:hover {
    background-color: #A02CFA !important;
    color: #f1dffe !important;
}

.landing-page .border-primary {
    border-color: #000000 !important;
}

.landing-page .card {
    background-color: #ffffff !important;
    color: black !important;
}